.input-page {
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-placeholder {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: gray;
  color: black;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.app-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.sub-title {
  font-size: 1.2rem;
  color: gray;
  margin-bottom: 2rem;
}

.input-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link-input {
  padding: 1rem;
  font-size: 1.1rem;
  width: 500px;
  background-color: #111;
  border: 3px solid white;
  border-radius: 6px;
  color: white;
  outline: none;
}

.link-input:focus {
  border-color: #00e1ff;
}

.submit-button {
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.submit-button:hover {
  background-color: #ddd;
}
